.orange {
  color: orange;
}

.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #d4f3f8;
  border-radius: 20px;
  box-shadow: 10px 11px 24px -13px rgba(124, 191, 240, 0.78);
  margin-bottom: 1rem;
  -webkit-box-shadow: 10px 11px 24px -13px rgba(124, 191, 240, 0.78);
  -moz-box-shadow: 10px 11px 24px -13px rgba(124, 191, 240, 0.78);
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.avartar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.new {
  position: absolute;
  left: 70%;
  top: 10%;
  background-color: rgb(255, 85, 141);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
}

.banner {
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
  background-color: rgb(182, 231, 179);
  font-weight: bold;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(242, 10, 130);
}

.counter:hover {
  background-color: rgba(254, 211, 255, 0.78);
}

.number {
  font-size: 7rem;
}

.button {
  color: white;
  font-size: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: rgb(73, 210, 255);
  background: linear-gradient(90deg, rgb(248, 74, 141), rgb(5, 154, 223));
}

.total {
  font-size: 1rem;
  margin-left: -1.5rem;
}
